/* Ortak site teması - Güncellenmiş */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: radial-gradient(circle, #ffffff 0%, #CDEFFF 100%);
    min-height: 100vh;
}
